@import './reset.css';
@import './normalize.css';

@font-face {
    font-family: "Corsa Grotesk";
    font-weight: 400;
    font-style: normal;
    src: local("Corsa Grotesk Regular"),
         local("CorsaGrotesk-Regular"),
         url("../fonts/TypedepotCorsaGroteskRegular.woff") format("woff"),
         url("../fonts/TypedepotCorsaGroteskRegular.otf") format("opentype");
    font-display: swap;
}

#app {
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Базовый размер для rem */
}

.kebab-button-type {
    display: flex;
    position: relative;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: clamp(24px, 1.5vw, 36px);
    height: clamp(24px, 1.5vw, 36px);
    border: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    transition: background 1s ease;
    border-radius: 50% !important; 
    margin-top: 1vh;
}

.kebab-button-type:hover {
    background: #4A4947;
}

/* main {
    padding: 20px 100px;
} */
  
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    /* main {
        padding: 20px 25px;
    } */
}
  
@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

body {
    background: #100E0E;
}

p, span, h3, h1, input, button, a, li, textarea, ::placeholder {
    font-family: "Corsa Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F3F0E9;
}

.control-button {
    display: flex;
    color: #F3F0E9;
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
}

.control-button svg {
    display: inherit;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.control-button svg path {
    fill: none; 
    stroke: #f3f0e9; 
    stroke-width: 2;
}



/* .user-avatar {
    display: block;
    width: var(--avatar-size, 40px);
    height: var(--avatar-size, 40px);
    border-radius: var(--avatar-radius, 4px);
    background: #F3F0E9;
    object-fit: cover;
    color: #100E0E;
} */